<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Ensure index.html is not rewritten
  RewriteRule ^index\.html$ - [L]

  # If the requested file or directory exists, serve it directly
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  # Otherwise, rewrite everything else to index.html
  RewriteRule . /index.html [L]
</IfModule>

<IfModule mod_mime.c>
  AddType application/javascript .js
  AddType application/javascript .mjs
</IfModule>
